[submodule "vendor/libra"]
	path = vendor/libra
	url = https://github.com/rtissera/libra
[submodule "vendor/clownmdemu-libretro"]
	path = vendor/clownmdemu-libretro
	url = https://github.com/rtissera/clownmdemu-libretro
