.vscode/**
.vscode-test/**
node_modules/**
src/**
test/**
tests/**
out/**
**/*.vsix
**/*.map
**/*.ts
**/tsconfig.json
**/.eslintrc*
**/.editorconfig
**/.gitignore
**/.gitattributes
**/.git/**
.github/**
**/*.log
.DS_Store
